@model IEnumerable<PhysioRental.Models.DeviceModel>

@{
    ViewData["Title"] = "Device List";
}

<p>
    <a asp-action="Create" class="btn btn-success custom-button">Dodaj nowe urządzenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRented)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRented)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Modyfikuj</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .custom-button:hover {
        border: 3px solid navy;
    }
</style>